.quix-box{

}

.custom-box{
    max-width: 100%;
    background-color: #ffff;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.quix-box .question-number,
.quix-box .question-text,
.quix-box .question-container,
.quix-box .answers-idicatior
{
    width:100%;
    float: left;
}

.quix-box .question-number{
    font-size: 18px;
    color:#dc3545;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;
}

.quix-box .question-text{
    font-size: 22px;
    color:#dc3545;
    font-weight: 400;
    padding: 20px 0px;
    line-height: 28px;
}

.quix-box .question-container .option{
    /* background-color: #fffcfc; */
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 1;
    /* animation: fadeIn 0.3s ease forwards; */
    position: relative;
    overflow: hidden;
}
.option:hover{
    background-color: gray;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.btn{
    padding: 15px 45px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

 .answers-idicatior{
     margin-top: 15px;
    border-top: 1px solid #CCCCCC;
}

 .answers-idicatior div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}

.answers-idicatior div.fill{
    background-color: green;
    color: white;
}

.option.already-answered{
    pointer-events:none;
}

.result-box{
    text-align: center;
}

.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: #dc3545;
}

.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0px;
}

.result-box table td{
    border: 1px solid #CCCCCC;
    padding: 8px 15px;
    font-weight: 500px;
    color: black;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.question-container .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }

.question-container .example-radio-button {
    margin: 5px;
  }
