<div class="row">
    <div class="col-md-6">
        <div class="quix-box custom-box" *ngIf="show">
            <div class="question-number">Question No : {{question_count + 1}}/{{questions.length}}<span style="float: right;">{{formated_min}}:{{formated_sec}}</span></div>
            <div class="question-text">{{questions[question_count]?.question}}</div>
            <div class="question-container">
                <div style="text-align: justify;" id="0" class="option"
                 *ngFor="let item of questions[question_count]?.answer let i = index"
                 (click)="toggleClass(i)">
                 <input type="text" [(ngModel)]="fill">
                </div>

            </div>
            <div align="center">
                <button type="button" class="btn"  (click)="next()">{{buttontitle}}</button>
            </div>
            <div class="answers-idicatior">
                <div *ngFor="let item of questions let i = index" (click)="getQuestions(i)">{{i+1}}</div>
            </div>
        </div>

        <div class="result-box" style="height:100vh" *ngIf="!show">
            <h1>Quiz Result</h1>
            <table>
                <tr>
                    <td>Total Questions</td>
                    <td>{{questions.length}}</td>
                </tr>
                <tr>
                    <td>Correct Questions</td>
                    <td>{{correctAnswer}}</td>
                </tr>
                <tr>
                    <td>Wrong Questions</td>
                    <td>{{questions.length - correctAnswer}}</td>
                </tr>
                <tr>
                    <td>Percetage</td>
                    <td>{{100 * correctAnswer / questions.length | number:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>{{formated_min}} : {{formated_sec}}</td>
                </tr>
            </table>
            <button class="btn btn-primary" routerLink="/home">Go To Back</button>
        </div>
    </div>
</div>
