<div class="card mt-5  col-md-6" style="margin-left: 15%;">
    <div class="card-body">
        <h1 class="card-title text-danger">MCQ's Quiz</h1>
        <hr>
        <h4 class="card-subtitle mb-2 text-muted">
            <span class="text-danger">Notes:</span>
        </h4>
        <p>* Each Question One Marks</p>
        <div class="text-center">
            <button class="btn btn-primary" routerLink="/question">Go To Quiz</button>
        </div>
    </div>
</div>

<div class="card mt-5  col-md-6" style="margin-left: 15%;">
    <div class="card-body">
        <h1 class="card-title text-danger">Fill In The Blanks Quiz</h1>
        <hr>
        <h4 class="card-subtitle mb-2 text-muted">
            <span class="text-danger">Notes:</span>
        </h4>
        <p>* Each Question One Marks</p>
        <div class="text-center">
            <button class="btn btn-primary" routerLink="/fillquestion">Go To Quiz</button>
        </div>
    </div>
</div>

<div class="card mt-5  col-md-6" style="margin-left: 15%;">
    <div class="card-body">
        <h1 class="card-title text-danger">Match The Following Quiz</h1>
        <hr>
        <h4 class="card-subtitle mb-2 text-muted">
            <span class="text-danger">Notes:</span>
        </h4>
        <p>* Each Question One Marks</p>
        <div class="text-center">
            <button class="btn btn-primary" routerLink="/matchquestion">Go To Quiz</button>
        </div>
    </div>
</div>
